<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bitácora de Aciiones</h4>
                <div class="row">
                    <div class="col-12">
                        <hr class="m-t-0 m-b-40">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h6 class="card-subtitle">ITS: <span class="font-bold">...</span></h6>
                        <h6 class="card-subtitle">Salida No Conforme: <span class="font-bold">FALLA O INCUMPLIMIENTO DEL SERVICIO</span></h6>
                        <h6 class="card-subtitle">No Conformidad: <span class="font-bold">INCUMPLIMIENTO DE UN REQUISITO</span></h6>
                        <h6 class="card-subtitle">Incidente: <span class="font-bold">POSIBLES LESIONES O ENFERMEDADES PRODUCIDAS POR CAUSA DEL TRABAJO </span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table full-color-table full-info-table hover-table">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center">No.</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Salida No Conforme/No Conformidad/Incidente</th>
                                <th class="text-center">Correción</th>
                                <th class="text-center">Causa(s)</th>
                                <th class="text-center">Antecedentes</th>
                                <th class="text-center">Requiere acción correctiva</th>
                                <th class="text-center">Acción Correctiva (Planes de Acción)</th>
                                <th class="text-center">Fecha de cumplimiento</th>
                                <th class="text-center">Responsable de ejecutar las acciones</th>
                                <th class="text-center">Fecha de cierre de la acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>sads</td>
                                <td>sadcf</td>
                                <td>sadcf</td>
                                <td>sadcf</td>
                                <td>sadcf</td>
                                <td>sadcf</td>
                                <td>sadcf</td>
                                <td>sadcf</td>
                                <td>sadcf</td>
                                <td>sadcf</td>
                                <td>sadcf</td>
                            </tr>
                            <tr class="text-center pointer">
                                <td colspan="11" data-toggle="modal" data-target="#modalAgregar1"><i class="mdi mdi-plus"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>