<div *ngIf="!mostrarFormPassword" class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-theme text-white">
                {{ titulo }}
            </div>

            <!-- ============================================================== -->
            <!-- FORMULARIO DE AGREGAR -->
            <!-- ============================================================== -->
            <div *ngIf="mostrarFormAgregar" class="card-body">
                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="crearUsuario()">
                    <div class="">
                        <div class="row">
                            <div class="col-md-1 m-b-20"></div>
                            <div class="col-md-4 m-b-20 text-center">
                                <label for="formGroupExampleInput">Número de Empleado</label>
                                <input formControlName="numEmpleado" name="numEmpleado" type="number" class="form-control" placeholder="" required>
                            </div>
                            <div class="col-md-2 m-b-20"></div>
                            <div class="col-md-4 m-b-20 text-center">
                                <label for="formGroupExampleInput">Usuario</label>
                                <input formControlName="usuario" name="usuario" type="text" class="form-control" placeholder="" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 m-b-20 text-center">
                                <label for="formGroupExampleInput">Nombre</label>
                                <input formControlName="nombre" name="nombre" type="text" class="form-control" placeholder="" required>
                            </div>
                            <div class="col-md-4 m-b-20 text-center">
                                <label for="formGroupExampleInput">Primer Apellido</label>
                                <input formControlName="priApellido" name="priApellido" type="text" class="form-control" placeholder="" required>
                            </div>
                            <div class="col-md-4 m-b-20 text-center">
                                <label for="formGroupExampleInput">Segundo Apellido</label>
                                <input formControlName="segApellido" name="segApellido" type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 m-b-20 text-center">
                                <label for="formGroupExampleInput">Correo</label>
                                <input formControlName="correo" name="correo" type="email" class="form-control" placeholder="" required>
                            </div>
                            <div class="col-md-6 m-b-20 text-center">
                                <label for="formGroupExampleInput">Teléfono</label>
                                <input formControlName="telefono" name="telefono" type="text" class="form-control" placeholder="" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 m-b-20 text-center">
                                <label for="formGroupExampleInput">Puesto</label>
                                <input formControlName="puesto" name="puesto" type="text" class="form-control" placeholder="" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 m-b-20 text-center">
                                <label for="formGroupExampleInput">Contraseña</label>
                                <input formControlName="contrasenia" name="contrasenia" type="password" class="form-control" placeholder="" required>
                            </div>
                            <div class="col-md-6 m-b-20 text-center">
                                <label for="formGroupExampleInput">Confirmar Contraseña</label>
                                <input formControlName="contrasenia2" name="contrasenia2" type="password" class="form-control" placeholder="" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 m-b-20 form-group" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                                <p class="text-danger text-center">
                                    Las contraseñas deben de ser iguales.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-md-6 m-b-20 text-center">
                                <label for="formGroupExampleInput">Tipo de Usuario</label>
                                <div>
                                    <select formControlName="tipoUser" name="tipoUser" class="selectpicker m-b-20 m-r-10 custom-select" data-style="btn-info btn-outline-info">
                                        <option value="">Elige</option>
                                        <option value="ADMIN">Administrador</option>
                                        <option value="AUDITOR_LIDER">Auditor Líder</option>
                                        <option value="AUDITOR">Auditor</option>
                                        <option value="AUDITADO">Auditado</option>
                                        <option value="ALTA_DIRECCION">Alta Dirección</option>
                                    </select>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-themecolor waves-effect">Guardar</button>
                        <button routerLink="/usuarios" type="button" class="btn btn-default waves-effect">Cancelar</button>
                    </div>
                </form>
            </div>

            <!-- ============================================================== -->
            <!-- FORMULARIO DE EDITAR -->
            <!-- ============================================================== -->
            <div *ngIf="mostrarFormEditar" class="card-body">
                <form ngNativeValidate [formGroup]="formaActualizar" (ngSubmit)="actualizarUsuario()">
                    <div class="">
                        <div class="row">
                            <div class="col-md-1 m-b-20"></div>
                            <div class="col-md-4 m-b-20 text-center">
                                <label for="formGroupExampleInput">Número de Empleado</label>
                                <input formControlName="numEmpleado" name="numEmpleado" type="number" class="form-control" placeholder="" required>
                            </div>
                            <div class="col-md-2 m-b-20"></div>
                            <div class="col-md-4 m-b-20 text-center">
                                <label for="formGroupExampleInput">Usuario</label>
                                <input formControlName="usuario" name="usuario" type="text" class="form-control" placeholder="" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 m-b-20 text-center">
                                <label for="formGroupExampleInput">Nombre</label>
                                <input formControlName="nombre" name="nombre" type="text" class="form-control" placeholder="" required>
                            </div>
                            <div class="col-md-4 m-b-20 text-center">
                                <label for="formGroupExampleInput">Primer Apellido</label>
                                <input formControlName="priApellido" name="priApellido" type="text" class="form-control" placeholder="" required>
                            </div>
                            <div class="col-md-4 m-b-20 text-center">
                                <label for="formGroupExampleInput">Segundo Apellido</label>
                                <input formControlName="segApellido" name="segApellido" type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 m-b-20 text-center">
                                <label for="formGroupExampleInput">Correo</label>
                                <input formControlName="correo" name="correo" type="email" class="form-control" placeholder="" required>
                            </div>
                            <div class="col-md-6 m-b-20 text-center">
                                <label for="formGroupExampleInput">Teléfono</label>
                                <input formControlName="telefono" name="telefono" type="text" class="form-control" placeholder="" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 m-b-20 text-center">
                                <label for="formGroupExampleInput">Puesto</label>
                                <input formControlName="puesto" name="puesto" type="text" class="form-control" placeholder="" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-md-6 m-b-20 text-center">
                                <label for="formGroupExampleInput">Tipo de Usuario</label>
                                <div>
                                    <select formControlName="tipoUser" name="tipoUser" class="selectpicker m-b-20 m-r-10 custom-select" data-style="btn-info btn-outline-info">
                                        <option value="">Elige</option>
                                        <option value="ADMIN">Administrador</option>
                                        <option value="AUDITOR_LIDER">Auditor Líder</option>
                                        <option value="AUDITOR">Auditor</option>
                                        <option value="AUDITADO">Auditado</option>
                                        <option value="ALTA_DIRECCION">Alta Dirección</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-themecolor waves-effect">Guardar</button>
                        <button routerLink="/usuarios" type="button" class="btn btn-default waves-effect">Cancelar</button>
                    </div>
                </form>
            </div>

            <!-- ============================================================== -->
            <!-- FORMULARIO DE VER -->
            <!-- ============================================================== -->
            <div *ngIf="mostrarFormVer" class="card-body">
                <div class="form-group">
                    <label class="text-dark font-weight-bold" for="formGroupExampleInput">Número de Empleado</label><br>
                    <label for="formGroupExampleInput">{{ numEmpleadoV }}</label>
                </div>
                <div class="form-group">
                    <label class="text-dark font-weight-bold" for="formGroupExampleInput">Usuario</label><br>
                    <label for="formGroupExampleInput">{{ usuarioV }}</label>
                </div>
                <div class="form-group">
                    <label class="text-dark font-weight-bold" for="formGroupExampleInput">Nombre</label><br>
                    <label for="formGroupExampleInput">{{ nombreV + ' ' + priApellidoV + ' ' + segApellidoV }}</label>
                </div>
                <div class="form-group">
                    <label class="text-dark font-weight-bold" for="formGroupExampleInput">Correo</label><br>
                    <label for="formGroupExampleInput">{{ correoV }}</label>
                </div>
                <div class="form-group">
                    <label class="text-dark font-weight-bold" for="formGroupExampleInput">Teléfono</label><br>
                    <label for="formGroupExampleInput">{{ telefonoV }}</label>
                </div>
                <div class="form-group">
                    <label class="text-dark font-weight-bold" for="formGroupExampleInput">Puesto</label><br>
                    <label for="formGroupExampleInput">{{ puestoV }}</label>
                </div>
                <div class="form-group">
                    <label class="text-dark font-weight-bold" for="formGroupExampleInput">Tipo de Usuario</label><br>
                    <label for="formGroupExampleInput">{{ tipoUserV }}</label>
                </div>

                <div class="modal-footer">
                    <button routerLink="/usuarios" type="button" class="btn btn-themecolor waves-effect">Regresar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-4">
        <div class="card">
            <div class="card-header bg-theme text-white">
                Fotografia
            </div>
            <div class="card-body">



            </div>
        </div>
    </div>
</div>

<div *ngIf="mostrarFormPassword" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-theme text-white">
                {{ titulo }}
            </div>

            <!-- ============================================================== -->
            <!-- FORMULARIO DE LAS CONTRASEÑAS -->
            <!-- ============================================================== -->
            <div class="card-body">
                <form ngNativeValidate [formGroup]="formaPass" (ngSubmit)="actualizarPass()">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 m-b-20 text-center">
                                <label for="formGroupExampleInput">Contraseña</label>
                                <input formControlName="contrasenia" name="contrasenia" type="password" class="form-control" placeholder="" required>
                            </div>
                            <div class="col-md-6 m-b-20 text-center">
                                <label for="formGroupExampleInput">Confirmar Contraseña</label>
                                <input formControlName="contrasenia2" name="contrasenia2" type="password" class="form-control" placeholder="" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 m-b-20 form-group" *ngIf="formaPass.errors?.sonIguales && !formaPass.pristine">
                                <p class="text-danger text-center">
                                    Las contraseñas deben de ser iguales.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-themecolor waves-effect">Guardar</button>
                        <button routerLink="/usuarios" type="button" class="btn btn-default waves-effect">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>