<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="vtabs ">
                    <ul class="nav nav-tabs tabs-vertical" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#proceso1" role="tab" aria-expanded="true">Planeación</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#proceso2" role="tab" aria-expanded="false">Académico</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#proceso3" role="tab" aria-expanded="false">Vinculación</a> </li>
                        <li class="nav-item text-center"> <a class="nav-link" data-toggle="tab" href="" role="tab" aria-expanded="false"><span><i class="mdi mdi-plus"></i></span></a> </li>
                    </ul>

                    <div class="tab-content col-12">
                        <div class="tab-pane active" id="proceso1" role="tabpanel" aria-expanded="true">
                            <button type="button" class="btn btn-outline-info btn-block">Agregar Subproceso <i class="mdi mdi-plus"></i></button>
                            <div class="table-responsive" style="padding-top: 20px;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>URL</th>
                                            <th class="text-nowrap">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Planeación</td>
                                            <td>Guía Técnica para la Elaboración del PIID de los Institutos, Unidades y Centros pertenecientes al TecNM</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Presupuestación</td>
                                            <td>Normatividad vigente aplicable en cada estado para planeación y gestión presupuestal</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Seguimiento / Evaluación</td>
                                            <td>Normatividad vigente aplicable en cada estado para planeación y gestión presupuestal</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="proceso2" role="tabpanel" aria-expanded="false">
                            <button type="button" class="btn btn-outline-info btn-block">Agregar Subproceso <i class="mdi mdi-plus"></i></button>
                            <div class="table-responsive" style="padding-top: 20px;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>URL</th>
                                            <th class="text-nowrap">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Inscripción</td>
                                            <td>Procedimiento para la Inscripción</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Reinscripción</td>
                                            <td>Procedimiento para la reinscripción Manual de Lineamientos Académico- Administrativos del TecNM, versión octubre 2015, Capítulo 9. Lineamiento para la resolución de equivalencia de estudios</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="proceso3" role="tabpanel" aria-expanded="false">
                            <button type="button" class="btn btn-outline-info btn-block">Agregar Subproceso <i class="mdi mdi-plus"></i></button>
                            <div class="table-responsive" style="padding-top: 20px;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>URL</th>
                                            <th class="text-nowrap">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Promoción de la oferta educativa</td>
                                            <td>NA</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Visitas a Empresas</td>
                                            <td>Procedimiento de Gestión del Curso</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Servicio Social </td>
                                            <td>Manual de Lineamientos Académico- Administrativos del TecNM, versión octubre 2015. Capítulo 11 Lineamiento para la operación y cumplimiento del Servicio Social.</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="vtabs ">
                    <ul class="nav nav-tabs tabs-vertical" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#proceso1" role="tab" aria-expanded="true">Planeación</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#proceso2" role="tab" aria-expanded="false">Académico</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#proceso3" role="tab" aria-expanded="false">Vinculación</a> </li>
                        <li class="nav-item text-center"> <a class="nav-link" data-toggle="tab" href="" role="tab" aria-expanded="false"><span><i class="mdi mdi-plus"></i></span></a> </li>
                    </ul>

                    <div class="tab-content col-12">
                        <div class="tab-pane active" id="proceso1" role="tabpanel" aria-expanded="true">
                            <button type="button" class="btn btn-outline-info btn-block">Agregar Subproceso <i class="mdi mdi-plus"></i></button>
                            <div class="table-responsive" style="padding-top: 20px;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>URL</th>
                                            <th class="text-nowrap">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Planeación</td>
                                            <td>Guía Técnica para la Elaboración del PIID de los Institutos, Unidades y Centros pertenecientes al TecNM</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Presupuestación</td>
                                            <td>Normatividad vigente aplicable en cada estado para planeación y gestión presupuestal</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Seguimiento / Evaluación</td>
                                            <td>Normatividad vigente aplicable en cada estado para planeación y gestión presupuestal</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="proceso2" role="tabpanel" aria-expanded="false">
                            <button type="button" class="btn btn-outline-info btn-block">Agregar Subproceso <i class="mdi mdi-plus"></i></button>
                            <div class="table-responsive" style="padding-top: 20px;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>URL</th>
                                            <th class="text-nowrap">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Inscripción</td>
                                            <td>Procedimiento para la Inscripción</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Reinscripción</td>
                                            <td>Procedimiento para la reinscripción Manual de Lineamientos Académico- Administrativos del TecNM, versión octubre 2015, Capítulo 9. Lineamiento para la resolución de equivalencia de estudios</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="proceso3" role="tabpanel" aria-expanded="false">
                            <button type="button" class="btn btn-outline-info btn-block">Agregar Subproceso <i class="mdi mdi-plus"></i></button>
                            <div class="table-responsive" style="padding-top: 20px;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>URL</th>
                                            <th class="text-nowrap">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Promoción de la oferta educativa</td>
                                            <td>NA</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Visitas a Empresas</td>
                                            <td>Procedimiento de Gestión del Curso</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Servicio Social </td>
                                            <td>Manual de Lineamientos Académico- Administrativos del TecNM, versión octubre 2015. Capítulo 11 Lineamiento para la operación y cumplimiento del Servicio Social.</td>
                                            <td>https://itsf.mx/site/</td>
                                            <td class="text-nowrap">
                                                <a href=""> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href=""> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->