<!-- ============================================================== -->
<!-- AUDITORIA -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Auditoría: <span class="font-bold">{{ auditoriaNombreV }}</span></h4>
                <div class="row">
                    <div class="col-12">
                        <hr class="m-t-0 m-b-40">
                    </div>
                </div>
                <div *ngIf="!mostrarFormTitulo" class="row">
                    <div class="col-12">
                        <h6 class="card-subtitle">No. de Auditoría: <span class="font-bold">{{ noAuditoriaV }}</span></h6>
                        <h6 class="card-subtitle">Proceso: <span class="font-bold">###</span></h6>
                        <h6 class="card-subtitle">Fecha: <span class="font-bold">###</span></h6>
                        <h6 class="card-subtitle">Auditor Líder: <span class="font-bold">{{ auditorLiderV }}</span></h6>
                        <h6 class="card-subtitle">Grupo Auditor: <span class="font-bold">{{ grupoAuditorV }}</span></h6>
                        <button (click)="editarTitulo()" class="btn btn-outline-secondary btn-sm btn-rounded">Editar Campos</button>
                    </div>
                </div>
                <div *ngIf="mostrarFormTitulo" class="row">
                    <div class="col-12">
                        <form id="formTitulo" class="floating-labels m-t-0 " ngNativeValidate>
                            <h6 class="card-subtitle">No. de Auditoría: <span class="font-bold">{{ noAuditoriaV }}</span></h6>
                            <div class="form-group m-b-40 m-t-40 focused">
                                <input name="proceso" id="proceso" type="text" class="form-control" required>
                                <span class="bar"></span>
                                <label for="proceso">Proceso:</label>
                            </div>
                            <div class="form-group m-b-40 m-t-40 focused">
                                <input name="fecha" id="fecha" type="text" class="form-control datepicker-autoclose" required>
                                <span class="bar"></span>
                                <label for="fecha">Fecha:</label>
                            </div>
                            <h6 class="card-subtitle">Auditor Líder: <span class="font-bold">{{ auditorLiderV }}</span></h6>
                            <h6 class="card-subtitle">Grupo Auditor: <span class="font-bold">{{ grupoAuditorV }}</span></h6>
                            <button class="btn btn-outline-secondary btn-sm btn-rounded" type="sumbit">Guardar Cambios</button>&nbsp;
                            <button (click)="editarTitulo()" class="btn btn-outline-secondary btn-sm btn-rounded">Cancelar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- OBJETIVO -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Objetivo</h4>
                <div class="row">
                    <div class="col-12">
                        <hr class="m-t-0 m-b-40">
                    </div>
                </div>
                <p class="card-text">{{ objetivoV }}</p>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- ALCANCE -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Alcance</h4>
                <div class="row">
                    <div class="col-12">
                        <hr class="m-t-0 m-b-40">
                    </div>
                </div>
                <p class="card-text">{{ alcanceV }}</p>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- PERSONAL CONTACTADO -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Personal Contactado</h4>
                <h6 class="card-subtitle  text-themecolor">Anotar al personal contactado responsable del proceso de acuerdo a la estructura orgánica del Instituto Tecnológico Centro, ejemp: Director(a), Subdirector(a) y Jefe(a) de Departamento.</h6>
                <h6 class="card-subtitle  text-themecolor"><span class="font-bold">Nota: </span>El personal contactado solo es representativo de los cargos más relevantes en cada proceso.</h6>
                <div class="row">
                    <div class="col-12">
                        <hr class="m-t-0 m-b-40">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table full-color-table full-info-table hover-table">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Puesto</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>Aldo Neri</td>
                                <td>Jefe</td>
                                <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr class="text-center">
                                <td>Aldo Neri</td>
                                <td>Jefe</td>
                                <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>

                            </tr>
                            <tr class="text-center">
                                <td>Aldo Neri</td>
                                <td>Jefe</td>
                                <td><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>

                            </tr>
                            <tr class="text-center">
                                <td>Aldo Neri</td>
                                <td>Jefe</td>
                                <td><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>

                            </tr>
                            <tr class="text-center">
                                <td>Aldo Neri</td>
                                <td>Jefe</td>
                                <td><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>

                            </tr>
                            <tr class="text-center pointer">
                                <td colspan="3" data-toggle="modal" data-target="#modalAgregar1"><i class="mdi mdi-plus"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- NO CONFORMIDADES -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">No Conformidades</h4>
                <h6 class="card-subtitle  text-themecolor"><span class="font-bold">Nota: </span>Esta parte incrementa dependiendo de las Tablas de "No Conformidades" y "Oportunidades de Mejora".</h6>
                <div class="row">
                    <div class="col-12">
                        <hr class="m-t-0 m-b-40">
                    </div>
                </div>
                <p class="card-text">En la revisión al Sistema de Gestión Integral se encontraron un total de <span class="font-bold">N</span> No Conformidades y <span class="font-bold">N</span> Oportunidades de Mejora.</p>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- TABLA -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title">Tabla</h4>
                <div class="row">
                    <div class="col-12">
                        <hr class="m-t-0 m-b-40">
                    </div>
                </div> -->
                <div class="table-responsive">
                    <table class="table full-color-table full-info-table hover-table">
                        <thead class="text-center">
                            <tr>
                                <th>Número</th>
                                <th>Requisito de la Norma</th>
                                <th *ngFor="let norm of normas" class="text-center">{{ norm.nombreNorma }}</th>
                                <th class="text-center">Revisión</th>
                                <th class="text-center">Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tab of tablas">
                                <td>{{ tab.numero }}</td>
                                <td>{{ tab.requisito }}</td>
                                <td *ngFor="let norm of normas" class="text-center">
                                    <span *ngFor=" let normTab of tab.normas">
                                                    <span *ngIf="norm._id === normTab._id" class="font-bold">X</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <input name="g1_{{ tab._id }}" type="radio" id="r11_{{ tab._id }}" class="with-gap radio-col-indigo" checked />
                                        <label for="r11_{{ tab._id }}"><span style="color: #67757C;">A</span></label>&nbsp;
                                        <input name="g1_{{ tab._id }}" type="radio" id="r12_{{ tab._id }}" class="with-gap radio-col-indigo" />
                                        <label for="r12_{{ tab._id }}"><span style="color: #67757C;">NA</span></label>&nbsp;
                                        <input name="g1_{{ tab._id }}" type="radio" id="r13_{{ tab._id }}" class="with-gap radio-col-indigo" />
                                        <label for="r13_{{ tab._id }}"><span style="color: #67757C;">EP</span></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <input name="g2_{{ tab._id }}" type="radio" id="r21_{{ tab._id }}" class="with-gap radio-col-blue" checked />
                                        <label for="r21_{{ tab._id }}"><span style="color: #67757C;">AD</span></label>&nbsp;
                                        <input name="g2_{{ tab._id }}" type="radio" id="r22_{{ tab._id }}" class="with-gap radio-col-blue" />
                                        <label for="r22_{{ tab._id }}"><span style="color: #67757C;">NC</span></label>&nbsp;
                                        <input name="g2_{{ tab._id }}" type="radio" id="r23_{{ tab._id }}" class="with-gap radio-col-blue" />
                                        <label for="r23_{{ tab._id }}"><span style="color: #67757C;">NR</span></label>&nbsp;
                                        <input name="g2_{{ tab._id }}" type="radio" id="r24_{{ tab._id }}" class="with-gap radio-col-blue" />
                                        <label for="r24_{{ tab._id }}"><span style="color: #67757C;">EP</span></label>&nbsp;
                                        <input name="g2_{{ tab._id }}" type="radio" id="r25_{{ tab._id }}" class="with-gap radio-col-blue" />
                                        <label for="r25_{{ tab._id }}"><span style="color: #67757C;">NA</span></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <span class="help-block text-themecolor"><small>Revisión: ( <span class="font-bold">A</span> = Aplica, <span class="font-bold">NA</span> = No Aplica, <span class="font-bold">EP</span> = Exclusión Permitida )</small>
                </span><br>
                <span class="help-block text-themecolor"><small>Resultado: ( <span class="font-bold">AD</span> = Adecuado, <span class="font-bold">NC</span> = No Conforme, <span class="font-bold">NR</span> = No Revisado, <span class="font-bold">EP</span>                = Exclusión Permitida, <span class="font-bold">NA</span> = No Aplica )</small>
                </span>

                <div class="text-center" style="padding-top: 30px;">
                    <button class="btn btn-outline-secondary btn-sm btn-rounded">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- OPORTUNIDADES DE MEJORA -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Oportunidades de Mejora</h4>
                <h6 class="card-subtitle text-themecolor text-themecolor">Anotar las oportunidades de mejora detectadas durante la auditoria.</h6>
                <div class="row">
                    <div class="col-12">
                        <hr class="m-t-0 m-b-40">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table full-color-table full-info-table hover-table">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center">Oportunidades de Mejora</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>1</td>
                                <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr class="text-center">
                                <td>2</td>
                                <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr class="text-center">
                                <td>3</td>
                                <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr class="text-center">
                                <td>4</td>
                                <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr class="text-center">
                                <td>5</td>
                                <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr class="text-center pointer">
                                <td colspan="2" data-toggle="modal" data-target="#modalAgregar2"><i class="mdi mdi-plus"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- COMENTARIOS -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Comentarios</h4>
                <h6 class="card-subtitle text-themecolor text-themecolor">Anotar los comentarios sobre la apertura y disposición de las personas responsables de los procesos durante la auditoria.</h6>
                <div class="row">
                    <div class="col-12">
                        <hr class="m-t-0 m-b-40">
                    </div>
                </div>

                <div *ngIf="!mostrarFormCom" class="row">
                    <div class="col-12">
                        <p class="card-text">Lorem ipsum dolor sit amet</p>
                        <button (click)="editarComentarios()" class="btn btn-outline-secondary btn-sm btn-rounded">Editar</button>
                    </div>
                </div>
                <div *ngIf="mostrarFormCom" class="row">
                    <div class="col-12">
                        <form id="formComentarios" class="floating-labels m-t-0 " ngNativeValidate>
                            <div class="form-group m-b-40 m-t-40 focused">
                                <textarea name="comentarios" id="comentarios" type="text" class="form-control" required></textarea>
                                <span class="bar"></span>
                                <label for="comentarios">Comentarios:</label>
                            </div>
                            <button class="btn btn-outline-secondary btn-sm btn-rounded" type="sumbit">Guardar Cambios</button>&nbsp;
                            <button (click)="editarComentarios()" class="btn btn-outline-secondary btn-sm btn-rounded">Cancelar</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- NO CONFORMIDADES -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">No Conformidades</h4>
                <h6 class="card-subtitle text-themecolor text-themecolor">Anotar las conclusiones a las que se llegó en la auditoria punto 5 de la descripción del procedimiento.</h6>
                <div class="row">
                    <div class="col-12">
                        <hr class="m-t-0 m-b-40">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table full-color-table full-info-table hover-table">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center">No.</th>
                                <th class="text-center">Descripción del Hallazgo</th>
                                <th class="text-center">Requisito</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>1</td>
                                <td>Jefe</td>
                                <td>NA</td>
                                <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr class="text-center">
                                <td>2</td>
                                <td>Jefe</td>
                                <td>NA</td>
                                <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr class="text-center">
                                <td>3</td>
                                <td>Jefe</td>
                                <td>NA</td>
                                <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr class="text-center">
                                <td>4</td>
                                <td>Jefe</td>
                                <td>NA</td>
                                <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr class="text-center">
                                <td>5</td>
                                <td>Jefe</td>
                                <td>NA</td>
                                <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr class="text-center pointer">
                                <td colspan="4" data-toggle="modal" data-target="#modalAgregar3"><i class="mdi mdi-plus"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- CONCLUSIONES -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Conclusiones de Auditoría</h4>
                <h6 class="card-subtitle text-themecolor">Anotar las conclusiones de la auditoria conforme al resultado obtenido declarando el nivel de madurez de los Sistemas de Gestión.</h6>
                <div class="row">
                    <div class="col-12">
                        <hr class="m-t-0 m-b-40">
                    </div>
                </div>

                <div *ngIf="!mostrarFormConc" class="row">
                    <div class="col-12">
                        <p class="card-text">Lorem ipsum dolor sit amet</p>
                        <button (click)="editarConclusiones()" class="btn btn-outline-secondary btn-sm btn-rounded">Editar</button>
                    </div>
                </div>
                <div *ngIf="mostrarFormConc" class="row">
                    <div class="col-12">
                        <form id="formConclusiones" class="floating-labels m-t-0 " ngNativeValidate>
                            <div class="form-group m-b-40 m-t-40 focused">
                                <textarea name="conclusiones" id="conclusiones" type="text" class="form-control" required></textarea>
                                <span class="bar"></span>
                                <label for="conclusiones">Conclusiones:</label>
                            </div>
                            <button class="btn btn-outline-secondary btn-sm btn-rounded" type="sumbit">Guardar Cambios</button>&nbsp;
                            <button (click)="editarConclusiones()" class="btn btn-outline-secondary btn-sm btn-rounded">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- FIRMAS -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-4 col-md-12">
        <div class="ribbon-wrapper card" style="height: 85%;">
            <div class="ribbon ribbon-info ribbon-right">Auditor Líder</div>
            <div class="card-body text-center">
                <span class="font-bold">{{ auditorLiderV }}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="ribbon-wrapper card" style="height: 85%;">
            <div class="ribbon ribbon-info ribbon-right">Recibí de Conformidad</div>
            <div class="card-body text-center">
                <span class="font-bold">{{ directorV }}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="ribbon-wrapper card" style="height: 85%;">
            <div class="ribbon ribbon-info ribbon-right">Fechas de Auditoría</div>

            <div *ngIf="!mostrarFormFechas" class="card-body text-center">
                <div class="row">
                    <div class="col-12">
                        <p class="card-text font-bold">10/30/2019 - 10/31/2019</p>
                        <button (click)="editarFechas()" class="btn btn-outline-secondary btn-sm btn-rounded">Editar</button>
                    </div>
                </div>
            </div>
            <div *ngIf="mostrarFormFechas" class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form id="formFechaEmision" class="floating-labels m-t-0 " ngNativeValidate>
                            <div class="form-group m-b-40 m-t-40 focused">
                                <input name="fechas" id="fechas" type="text" class="form-control input-daterange-datepicker" required>
                                <span class="bar"></span>
                                <label for="fechas">Fecha Inicial - Fecha Final</label>
                            </div>
                            <button class="btn btn-outline-secondary btn-sm btn-rounded" type="sumbit">Guardar Cambios</button>&nbsp;
                            <button (click)="editarFechas()" class="btn btn-outline-secondary btn-sm btn-rounded">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- FECHA DE EMISIÓN DEL INFORME -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-4 col-md-12">
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="ribbon-wrapper card">
            <div class="ribbon ribbon-info ribbon-right">Fecha de Emisión del Informe</div>
            <div *ngIf="!mostrarFormFechaEmision" class="card-body text-center">
                <div class="row">
                    <div class="col-12">
                        <p class="card-text font-bold">10/31/2019</p>
                        <button (click)="editarFechaEmision()" class="btn btn-outline-secondary btn-sm btn-rounded">Editar</button>
                    </div>
                </div>
            </div>
            <div *ngIf="mostrarFormFechaEmision" class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form id="formFechaEmision" class="floating-labels m-t-0 " ngNativeValidate>
                            <div class="form-group m-b-40 m-t-40 focused">
                                <input name="fechaEmision" id="fechaEmision" type="text" class="form-control datepicker-autoclose" required>
                                <span class="bar"></span>
                                <label for="fechaEmision">Fecha:</label>
                            </div>
                            <button class="btn btn-outline-secondary btn-sm btn-rounded" type="sumbit">Guardar Cambios</button>&nbsp;
                            <button (click)="editarFechaEmision()" class="btn btn-outline-secondary btn-sm btn-rounded">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
    </div>
</div>

<!-- ============================================================== -->
<!-- MODAL PERSONAL CONTACTADO -->
<!-- ============================================================== -->

<div class="modal fade" id="modalAgregar1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Agregar Personal</h4>
            </div>
            <div class="modal-body">
                <form class="floating-labels m-t-40" ngNativeValidate>
                    <div class="form-group m-b-40">
                        <input name="nombre" id="nombre" type="text" class="form-control" required>
                        <span class="bar"></span>
                        <label for="nombre">Nombre:</label>
                    </div>
                    <div class="form-group m-b-40">
                        <input name="puesto" id="puesto" type="text" class="form-control" required>
                        <span class="bar"></span>
                        <label for="puesto">Puesto:</label>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-themecolor" data-dismiss="">Guardar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- MODAL OPORTUNIDADES DE MEJORA -->
<!-- ============================================================== -->

<div class="modal fade" id="modalAgregar2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Agregar Oportunidad de Mejora</h4>
            </div>
            <div class="modal-body">
                <form class="floating-labels m-t-40" ngNativeValidate>
                    <div class="form-group m-b-40">
                        <input name="oportunidad" id="oportunidad" type="text" class="form-control" required>
                        <span class="bar"></span>
                        <label for="oportunidad">Oportunidad de Mejora:</label>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-themecolor" data-dismiss="">Guardar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- MODAL NO CONFORMIDADES -->
<!-- ============================================================== -->

<div class="modal fade" id="modalAgregar3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Agregar No Conformidad</h4>
            </div>
            <div class="modal-body">
                <form class="floating-labels m-t-40" ngNativeValidate>
                    <div class="form-group m-b-40">
                        <input name="hallazgo" id="hallazgo" type="text" class="form-control" required>
                        <span class="bar"></span>
                        <label for="hallazgo">Descripción del Hallazgo:</label>
                    </div>
                    <div class="form-group m-b-40">
                        <input name="requisito" id="requisito" type="text" class="form-control" required>
                        <span class="bar"></span>
                        <label for="requisito">Requisito:</label>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-themecolor" data-dismiss="">Guardar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>