#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}


/* centrar texto y boton del sweet alert */

.swal-footer,
.swal-text {
    text-align: center;
}

.alinear_derecha {
    float: right;
}

.sgi_centrarInp {
    text-align: center;
    font-weight: bold;
}

.sgi_paddNorm {
    padding-right: 15px;
    padding-bottom: 15px;
}