#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.alinear_derecha {
    float: right;
}

.sgi_centrarInp {
    text-align: center;
    font-weight: bold;
}

.sgi_paddNorm {
    padding-right: 15px;
    padding-bottom: 15px;
}

.sgi_fondoGris {
    background-color: rgb(223, 223, 223);
}